<h1>{{title}}</h1>

<h2>Products</h2>
<p><a (click)="gotoCreate()">ProductCreate</a></p>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>select</th>
  </tr>
<tbody class="product">
  <tr *ngFor="let product of products"
    [class.selected]="product === selectedProduct"
    >

    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.available_stock}}</td>
    <td><button (click)="onSelect(product)">select</button></td>

  </tr>
</tbody>
</table>

<div *ngIf="selectedProduct">
  <p>
    Selected Product: {{selectedProduct.name | uppercase}}
  </p>
  <button (click)="gotoDetail()">Go To Product Details</button>
</div>
